<div class="container">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1>You should Change this</h1>
      <p>And say why your addon is awesome.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bootstrap</h3>
      </div>
      <div class="panel-body">
        The css is loaded, so you can just slam in DOM and move on
      </div>
</div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>

{{outlet}}
